

.loginClass{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1{
    text-align: center;
}

 .loginClass p{
    font-size: x-large;
    text-align: center;

}
.listP{
    text-align: center;
    font-size: x-large;
}

table.center{
    margin-left: auto; 
    margin-right: auto;
  
}
.errorP{
    font-size: small;
    text-align: center;
    color:red;

}
.successP{
    font-size: small;
    text-align: center;
    color:green;
}
.loginbtn{
    color:#ce9a43 !important;
}
.contentDiv{
background: #d3eff7;
}
.bodytitle{
color: darkgoldenrod;
}